<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="/lib/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />
    <link rel="stylesheet" asp-href-include="/scripts/style.css" />
    <title>Travel Easy</title>
</head>
<body>
    <div class="wrapper">
        <div class="navbar navbar-inverse bg-inverse" role="navigation">
            <div class="row">
                <a class="col navbar-brand" href="#">TRAVEL EASY</a>
                <div class="col-4 text-right">
                    @await Component.InvokeAsync("CartSummary")
                </div>
            </div>
        </div>
        <div class="row m-1 p-1">
            <div id="categories" class="col-3">
                @await Component.InvokeAsync("NavigationMenu")
            </div>
            <div class="col-9">
                @RenderBody()
            </div>
            <div class="push"></div>
        </div>
    </div>
    <footer page-footer font-small special-color-dark pt-4 class="footer">
        <div class="footer-copyright text-center py-3">
            © @DateTime.Now.Year Copyright:
            <a href="https://traveleasy.azurewebsites.net/"> TravelEasy.net</a>
        </div>
    </footer>
</body>

</html>
